
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #122341;
    color: #122341;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: #3a5793;
    color:#a6d2ff
}

header img{
    width: 200px;
    height: 200px;
    border-radius:  100px;

}

header h1{
    font-size: 50px;
    padding-top: 30px;

}

header h2{
    font-size: 35px;
    padding-bottom: 20px;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #a6d2ff;
}

main h3{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

main p{
    text-align: center;
    color: #122341;
}

ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; 
    margin: 0;  
}

ul li {
    display: inline-block; /* Coloca los elementos de la lista en línea */
    margin: 15px; 

}

section ul li a{
    color:#122341;
    text-decoration: none;
}

section ul li a:hover{
    color: pink;
}

#multimedia{
    text-align: center;
}

footer a,p{
    color: aliceblue;
    text-align: center;
}


